
* {
  font-family: 'Alice', serif;
}

h1, h2, h3, h4 {
  font-family: 'Playball', cursive;
}

body {
  background: url(../images/Magickal_TeePee_Parties_Logo.webp) no-repeat bottom right fixed;
}

/*--------------------------------------------Header*/

.logo {
  background-image: url(../images/Magickal_TeePee_Parties_Logo.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 10vh;
}

.navbar {
  background-color: #FFDBAA;
}

.navbar-brand {
  color: black;
}

.navbar-brand:hover {
  color: black;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.fa-solid {
  font-size: larger;
}

/*--------------------------------------------Jumbotron*/

.jumbotron {
  background-image: url(../images/TeePee_Parties_Jumbotron_Image.webp);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

  height: 50vh;

  overflow: hidden;
}

.jumbotron-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(150, 194, 145, 0.3);
}

.call-to-action {
  color: black;
  text-decoration:underline;
  background-color: rgb(255, 183, 183);
  border-radius: 5%;
}

/*--------------------------------------------Footer*/
footer {
  background-color: #F4EEEE;
  min-height: 120px;
  margin: 0;
}

.social-networks {
  text-align: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #3a3a3a;
}

.COPYRIGHT {
  padding-top: 5vh;
}

.contact {
  background-color: #FFB7B7;
  color: black;
}

.black {
  color: black;
}

/*--------------------------------------------Articles*/
.article-bg {
  background-color: rgb(244, 238, 238, 0.8);
}

/*--------------------------------------------Prices*/
.margin {
  margin-top: 2vh;
  margin-bottom: 2vh;
}